p {
  margin: 0rem !important;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #ff00d6 !important;
  border-color: #ff00d6 !important;
}
.btn-outline-primary {
  border-color: #ff00d6 !important;
  color: #ff00d6 !important;
}

h2,
h3 {
  margin: 1rem 0rem;
}

h4,
h5 {
  margin-bottom: 1rem;
}
